.secondary-button {
  padding: calc(10rem / 16) calc(18rem / 16);
  border-radius: calc(8rem / 16);
  background-color: var(--background-secondary);
  border: calc(1rem / 16) solid var(--border-primary);

  color: #fff;
  font-family: Inter;
  font-size: calc(16rem / 16);
  font-style: normal;
  font-weight: 700;
  line-height: calc(24rem / 16);
}

.secondary-button:hover {
  cursor: pointer;
  background-color: var(--border-primary);
}

.secondary-button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}
